<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant-Based Packaging Intelligence</title>
    {% load static %}
    <!-- QuaggaJS for barcode scanning -->
    <script src="https://cdn.jsdelivr.net/npm/@ericblade/quagga2@1.8.4/dist/quagga.min.js"></script>
    <script type="module" crossorigin src="{% static 'react/assets/index-B7Inz98n.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'react/assets/index-B_F0hTkj.css' %}">
</head>
<body>
    <div id="root"></div>
</body>
</html>
